.card{
  background-color: red;
  border: 3px solid red;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.title{
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.content{
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}